*, *:before , *:after {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-family: sans-serif;
    font-size: 20px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}